<div class="row">
  <div class="col-4 offset-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let hero of heroes" [ngClass]="{ 'text-success' : hero === 'Hulk'}">
        {{ hero }}
      </li>
      <li class="list-group-item">
        <button class="btn btn-info" (click)="addMore()">Add More</button>
      </li>
      <li class="list-group-item" *ngIf="adding">
        <input type="text" [(ngModel)]="inputHero">
        <br>
        <button class="btn btn-success" [disabled]="!inputHero" (click)="addHero()">
          Add Hero
        </button>
      </li>
    </ul>
  </div>
</div>
