<div class="example-container">

  <mat-spinner style="top:30%;left:45%;position:absolute" *ngIf="waitProgress"></mat-spinner>

  <h1 class="mat-body-1">Login Here</h1>

  <form #myForm="ngForm" (ngSubmit)="submit(myForm)">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" class="example-right-align" required name="email" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required name="password" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button type="submit" color="accent" [disabled]="!myForm.form.valid">Submit</button>

  </form>

</div>
