<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Ümit UZ</span>
    <button mat-button>Theme</button>
  </mat-toolbar-row>
</mat-toolbar>

<app-form></app-form>

<!--<div class="container">-->

<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Ümit UZ</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#" routerLink="">DC Comics <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#" routerLink="marvels">Marvel Heroes</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <router-outlet></router-outlet>-->
<!--  -->
<!--</div>-->

<!--  <app-marvel-heroes></app-marvel-heroes>-->
<!--  <app-dc-comics></app-dc-comics>-->
<!--<app-pokemon></app-pokemon>-->
